<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Submitted!</title>
    <link rel='stylesheet' href='/css/normalize.css' />
    <link rel='stylesheet' href='/css/style.css' />
  </head>

  <body>

    <header>
      <h1>
        Submitted!
      </h1>
      <h2>The Bootcamp Student Blog</h2>
      <nav>
        <!-- Conditionally render login or logout links -->
        <a href='/' class='link homepage'>Homepage</a>
        <a href='/dashboard' class='link dashboard'>Dashboard</a>
        {{#if logged_in}}
          <button class='link logout' id='logout'>Logout</button>
        {{else}}
          <a href='/login' class='link login'>Login</a>
        {{/if}}
      </nav>
    </header>
    <main>
      <!-- Render the sub layout -->
      {{{body}}}
    </main>
    <footer>

    </footer>

    <!-- Render script for logged in users only -->
    {{#if logged_in}}
      <script src='/js/logout.js'></script>
    {{/if}}
  </body>

</html>