{{!  
  * Tech Blog
  * homepage.handlebars
  * Contains template literal for a partial that renders every blog
  * Copyright 2022 Leo Wong
}}

<!-- Conditionally render blogs if there are any -->
{{#if blogs.notEmpty}}
   {{#each blogs as |blog|}}
   <div class='blog' data-id="{{blog.id}}">
   {{> blog-details}}
   </div>
   {{/each}}
 
{{!-- if not, display a short message to say so --}}
{{else}}
  <div class='blog'>
    <p style='color: white'>No blogs yet.</p>
  </div>
{{/if}}