<div class='login-container'>
  <p class='login-message'>Already a user?</p>
  <h2 class='login-heading'>Log in</h2>
  <form id='login'>
    <fieldset><label for='username-login' class='login-label'>Username:</label>
      <input type='text' id='username-login' /></fieldset>
    <fieldset><label for='password-login' class='login-label'>Password:</label>
      <input type='password' id='password-login' /></fieldset>
    <button type='submit' class='login-button'>Login</button>
  </form>
</div>
<div class='login-container signup'>
  <p class='login-message'>New to the blog?</p>
  <h2 class='login-heading'>Sign up</h2>
  <form id='signup'>
    <fieldset><label for='username-signup' class='login-label'>New Username:</label>
      <input type='text' id='username-signup' /></fieldset>
    <fieldset><label for='password-signup' class='login-label'>New Password:</label>
      <input type='password' id='password-signup' /></fieldset>
    <button type='submit' class='login-button'>Sign up</button>
  </form>
</div>

<script src='./js/login.js'></script>