@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&display=swap');

/* main.handlebars */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  --primary: black;
  --secondary: white;
  --tertiary: #2ab865;
}

body {
  width: 100%;
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
  background: var(--primary);
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1rem 0;
}

header h1 {
  color: var(--tertiary);
  font-size: 20px;
  font-weight: 800;
  margin: 1rem 0 0;
}

header h2 {
  color: var(--tertiary);
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 1.5rem;
}

nav .link {
  font-size: 11px;
  color: var(--primary);
  background-color: var(--tertiary);
  text-decoration: none;
  border-radius: 0.6rem;
  padding: 0.6rem;
}

nav .link:hover,
nav .link:active,
nav .link:focus-visible {
  background-color: var(--secondary) !important;
  outline: none;
}

/* main */
main {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-flow: row wrap;
}

/* homepage.handlebars */
.blog {
  width: 300px;
  border-radius: 1rem;
  border: 1px solid var(--tertiary);
  padding: 1rem;
  margin: 1rem;
}
.blog-date {
  font-size: 12px;

  color: var(--secondary);
}

.blog-title {
  font-size: 20px;
  font-weight: 800;

  padding: 0.6rem 0;
}

.blog-title a {
  color: var(--tertiary);
}

.blog-category {
  font-size: 12px;
  color: var(--secondary);
}

.blog-category .category-link {
  color: var(--tertiary);
}
.blog-tags {
  font-size: 12px;
  color: var(--secondary);
}

.blog-tags .tag-link {
  color: var(--tertiary);
}

.blog-summary {
  font-size: 16px;
  color: var(--secondary);
  padding: 0.3rem 0 0.6rem;
  font-weight: bold;
}

.blog-text {
  font-size: 16px;
  color: var(--secondary);
  padding: 1rem 0 0.6rem;
}

.blog-creator {
  font-size: 16px;
  color: var(--secondary);
  padding: 0.3rem 0;
}

/* login.handlebars */

.login-container {
  width: 300px;
  border-radius: 1rem;
  border: 1px solid var(--tertiary);
  padding: 1rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
}
.login-container.signup {
  border-color: var(--secondary);
}

.login-message {
  font-size: 12px;
  color: var(--secondary);
}

.login-heading {
  font-size: 20px;
  color: var(--tertiary);
  font-weight: 800;
}

.login-container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.login-container fieldset {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  padding: 0.6rem 0;
  border: none;
}

.login-container fieldset:focus-visible,
.login-container fieldset:active {
  outline: none;
}

.login-container fieldset input,
.login-container fieldset select,
.login-container fieldset textarea {
  width: 170px;
  margin-left: 0.6rem;
  height: 30px;
}

textarea {
  height: 100px !important;
}

fieldset {
  margin: 0 !important;
}

input:focus-visible,
input:active,
select:focus-visible,
select:active,
textarea:focus-visible,
textarea:active {
  outline: none;
}

.login-label {
  font-size: 12px;
  color: var(--secondary);
}

.login-button {
  font-size: 11px;
  color: var(--primary);
  background-color: var(--tertiary);
  text-decoration: none;
  border-radius: 0.6rem;
  padding: 0.6rem;
  width: 100%;
}

.login-button:hover,
.login-button:active,
.login-button:focus-visible {
  background-color: var(--secondary) !important;
  outline: none;
}

.login-button:active {
  transform: translateY(-1px);
}

/* dashboard */
h3 {
  width: 100%;
  text-align: center;
  color: var(--tertiary);
}

.login-container.edit {
  width: 100% !important;
  margin: 0 !important;
}

/* comments */
.comment-date {
  font-size: 12px;

  color: var(--secondary);
}

.comment-username {
  font-size: 12px;

  color: var(--secondary);
}

.comment-text {
  font-size: 16px;
  color: var(--secondary);
  padding: 1rem 0 0.6rem;
}

.comment {
  width: 300px;
  border-radius: 1rem;
  border: 1px solid var(--tertiary);
  padding: 1rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
